.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:white; 

}
.header_logo{
 height: 25px;
 object-fit: contain;
 margin-left: 15px;
}
 .header_mid{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid gray;
    border-radius: 18px;
    height: 35px !important;
    border-bottom-left-radius: 15px !important;
}
.inputArea_text{
    margin-left: 10px;
    height: 33px !important;
} 

.header_inputButton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    height: 30px !important;
    /* border-radius: 15px !important; */
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
} 

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_icon{
    margin-right: 10px;
}
.header_mid>input{
    flex: 1;
    border:none;
}